* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
h1{
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
p{
       margin-block-start: 0;
       margin-block-end: 0;
       line-height: 150%;
       letter-spacing: 0.02em;
}
a:hover{
    background-color:chocolate;
    cursor: pointer;
    transition: ease-out;
}
body{
    color: #F8F0E4;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    background-color: black;
}
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 20px;
    background-color: #1D262D;
    min-height: 100vh;
    
}
.header{
    background-color: #e0a80d;
    margin-bottom: 40px;
    color: black;
}
.header__navigation{
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    line-height: 100%;
    padding: 20px;
}
.header__navigation a{
    padding: 18px;
}
.side-wrapper{
    display: flex;
    gap: 40px;
}
.page-subtitle{
    margin-bottom: 12px;
}
.section-title{
    color:#e0a80d;
    margin-bottom: 8px;
}
/* section{
    margin-bottom: 12px;
} */
.left-side{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: #0; */
}
.avatar{
    border-radius: 120px;
 }
 .contacts__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
 }

.page-title{
    padding: 10px 80px 95px 0px;
}
.title{
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 8px;
}
.page-subtitle{
    font-size: 1.5rem;
    font-style: italic;
    color: #e0a80d;
}
.about-me, .skills, .code-example, .courses{
    margin-bottom: 30px;
}
.skills__list{
    padding-left: 20px;
    line-height: 150%;
}
.languages{
    margin-bottom: 80px;
}
.code{
    padding: 10px;
    background-color: #979899;
    color: black;
}
.courses-list{
    list-style: none;
    line-height: 150%;
}
.footer{
    display: flex;
    justify-content: space-between;
    /* padding: 20px; */
    background-color: #e0a80d;
    color: black;
    align-items: center;
}
.footer a,
.footer p {
    padding: 18px;
}

.rs-logo{
    width: 80px;
    height: 34px;
}